@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #101112;
  --background-color: #fdfdfd;
}
html {
  min-height: 100vh;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #EFF1F2;
    --background-color: #232628;
  }
}

body {
  color: var(--foreground-rgb);
  min-height: 100vh;
  background: var(--background-color);
}

.text-upright {
  text-orientation: upright;
  writing-mode: vertical-lr;
}

ul::-webkit-scrollbar {
  width: 10px;
}

/* Track */
ul::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}
