@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000;
  --background-color: #fdfdfd;

}
html{
  min-height: 100vh;
  
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-color: #2E3033;
  }
}

body {
  color: var(--foreground-rgb);
  min-height: 100vh;
  background: var(--background-color);
}
